.box {
font-family: "Arial";
}
h2 {
color: white;
}

.box {
margin-left: auto;
margin-right: auto;
text-align: center;
width: 50%;
border-size: 5px;
border-style: solid;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
}
